@mixin ul-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin a-reset {
  display: block;
  text-decoration: none;
}


@mixin border($side, $width: 1px, $color: $color-border) {
  @if $side == full {
    border: $width solid $color;
  } @else  {
    border-#{$side}: $width solid $color;
  }
}

@mixin form-input-border {
  border-bottom: 2px solid #000000;
}

@mixin bg-image($filename, $width, $height) {
  content: "";
  width: $width;
  height: $height;
  position: absolute;
  background: url("../img/#{$filename}.svg") no-repeat;
}

@mixin font-props($size, $line, $weight, $color) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
  color: $color;
}

@mixin title($size: 27px, $line: 30px, $weight: 700, $color: $color-title) {
  @include font-props($size, $line, $weight, $color);
}

@mixin title-tablet {
  @include title(43px, 50px);
}

@mixin title-desktop {
  @include title(53px, 57px);
}

@mixin text($size: 15px, $line: 24px, $weight: 400, $color: $color-text) {
  @include font-props($size, $line, $weight, $color);
}

@mixin subheader($size: 17px, $line: 16px, $weight: 700, $color: $color-secondary) {
  @include font-props($size, $line, $weight, $color);
  text-transform: uppercase;
}

@mixin btn ($fsize: 18px, $width: 222px, $bgcolor: transparent, $color: $color-text){
  @include subheader($fsize, 16px, 700, $color);
  background-color: $bgcolor;
  border: 2px solid $color-text;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: $width;
  cursor: pointer;
  padding: 16px 17px 17px 17px;
}

@mixin centrify-all {
  margin: 0 auto;
  width: 260px;
  @media #{$tablet} {
    width: 668px;
  }
  @media #{$desktop} {
    width: 1050px;
  }
}
