.about__inner {
  padding: 26px 0;
  @include centrify-all;
}

.about__title {
  margin: 0;
  margin-left: -2px;
  @include title(25px);
}

.about__list {
  @include ul-reset;
  margin-left: -2px;
  display: flex;
  flex-direction: column;
}

.about__list-item {
  @include title(17px, 20px, 700);
  margin: 0;
  padding-top: 85px;
  position: relative;
  &::before {
    top: 32px;
  }
  &--eco::before {
    left: 10px;
    @include bg-image(icon-feature-1, 32px, 37px);
  }
  &--price::before {
    left: 1px;
    @include bg-image(icon-feature-3, 48px, 27px);
  }

  &--like::before {
    left: 10px;
    top: 36px;
    @include bg-image(icon-feature-5, 32px, 28px);
  }

  &--handmade {
    padding-top: 84px;
    &::before {
      left: 5px;
      @include bg-image(icon-feature-2, 34px, 34px);
    }
  }

  &--native::before {
    left: -5px;
    top: 33px;
    @include bg-image(icon-feature-4, 54px, 23px);
  }

  &--gift {
    padding-top: 84px;
    &::before {
      top: 31px;
      left: 5px;
      @include bg-image(icon-feature-6, 33px, 32px);
    }
  }
}

@media #{$tablet} {
  .about__inner {
    padding: 74px 0;
  }

  .about__title {
    margin-left: -3px;
    margin-bottom: 20px;
    @include title-tablet
  }

  .about__list {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
  }

  .about__list-item {
    width: 50%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    padding-top: 85px;
    &--handmade {
      order: 2;
    }

    &--price {
      order: 3;
    }

    &--like {
      order: 5;
    }

    &--native {
      order: 4;
      &::before {
        top: 36px;
      }
    }

    &--gift {
      order: 6;
    }
  }
}

@media #{$desktop} {
  .about__inner {
    width: 700px;
    padding-top: 58px;
  }

  .about__title {
    @include title-desktop;
  }
}
