.featured {
  margin: 30px;
}

.featured__header {
  margin-bottom: 30px;
}

.featured__title {
  margin: 0 0 10px 0;
  @include title(25px);
}

.featured__label {
  @include subheader;
}

.featured__description {
  p {
    margin: 30px 0 20px 0;
    @include text(15px, 24px, 400);
  }
}

.featured__table {
  margin: 20px 0 28px 0;
  width: 100%;
  tr {
    border-bottom: 1px solid #ececec;
  }
}

.featured__table {
  td {
    @include text(15px, 20px, 400);
    padding: 10px 0;
  }
}

.featured__parameter {
  width: 100px;
}

.featured__image {
  background-color: $color-bg;
  img {
    width: 260px;
    height: 260px;
  }
}

.featured__footer {
  p {
    padding: 25px 25px 0 25px;
    margin: 0;
    text-align: center;
    @include text(17px, 24px, 700);
  }
}

@media #{$tablet} {
  .featured {
    margin: 50px;
  }

  .featured__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .featured__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .featured__title {
    @include title-tablet;
  }

  .featured__label {
    width: 120px;
    text-align: center;
  }

  .featured__description {
    width: 43%;
    p {
      margin-top: 0;
    }
  }

  .featured__table {
    padding-right: 50px;
  }

  .featured__image {
    width: 50%;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  .featured__footer {
    width: 43%;
    position: absolute;
    bottom: 0;
  }

  .featured__btn {
    width: 100%;
  }
}
