.reviews {
  margin-bottom: 51px;
}

.reviews__inner {
  position: relative;
  @include centrify-all;
  display: flex;
  flex-direction: column;

}

.reviews__title {
  @include title(25px);
  padding-top: 30px;
  margin: 0;
  margin-left: -3px;
}

.reviews__list {
  margin: 26px 0 28px;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  @include text(15px, 30px);
}

.reviews__footer {
  display: block;
  margin-top: 22px;
  font-style: normal;
}

.reviews__author-name {
  @include title(18px, 24px);
}

.reviews__author-id {
  @include text(18px, 34px);
}

.reviews__controls {
  margin-bottom: 38px;
  display: flex;
  flex-direction: row;
}

.reviews__control {
  padding: 0;
  font-size: 0;
  width: 130px;
  box-sizing: border-box;
  height: 52px;
  background: transparent;
  @include border(full);
  outline: none;
  position: relative;
  &::before {
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -27px;
  }
  &--prev {
    &::before {
      @include bg-image(icon-left-arrow, 50px, 26px);
    }
  }
  &--next {
    border-left: none;
    &::before {
      @include bg-image(icon-right-arrow, 50px, 26px);    }
  }
}

.reviews__btn {
  @include btn;
}

@media #{$tablet} {
  .reviews {
    margin-bottom: 80px;
  }

  .reviews__inner {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .reviews__title {
    @include title-tablet;
    padding-top: 70px;
    max-width: 334px;

  }

  .reviews__btn {
    order: 1;
    width: auto;
    max-width: 300px;
    padding-left: 38px;
    padding-right: 38px;
    font-size: 17px;
  }

  .reviews__list {
    margin: 46px 0;
    order: 2;
  }

  .reviews__text {
    font-size: 17px;
  }

  .reviews__footer {
    margin-top: 55px;
  }

  .reviews__author-name {
    font-size: 17px;
  }

  .reviews__author-id {
    font-size: 17px;
  }

  .reviews__controls {
    position: absolute;
    margin: 0;
    right: 0;
    bottom: 50px;
    width: 172px;
  }

  .reviews__control {
    border: none;

  }
}

@media #{$desktop} {
  .reviews {
    margin-bottom: 140px;
  }

  .reviews__inner {
    width: 875px;
    padding-left: 175px;
  }

  .reviews__title {
    @include title-desktop;
  }

  .reviews__text {
    padding-right: 80px;
  }

  .reviews__footer {
    margin-top: 35px;
  }


}
