.catalog-item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.catalog-item__link {
  width: 260px;
  height: 195px;
}

.catalog-item__description {
  @include border(full);
  padding: 25px 27px 27px;
  display: flex;
  flex-direction: column;
}

.catalog-item__description-footer {
  padding-top: 22px;
  @include border(top);
  display: flex;
  justify-content: space-between;
}

.catalog-item__title {
  display: block;
  @include title(17px, 24px);
  text-decoration: none;
  margin-bottom: 5px;
}

.catalog-item__text {
  margin: 0 0 20px 0;
  @include text(13px, 30px);
}

.catalog-item__price {
  @include title(15px, 24px);
}

.catalog-item__cart {
  font-size: 0;
  width: 20px;
  height: 19px;
  &::before {
    @include bg-image(icon-cart, 20px, 19px);
  }
}


@media #{$tablet} {
  .catalog-item {
    margin-top: 54px;
  }

  .catalog-item {
    flex-direction: row;
  }

  .catalog-item__link {
    width: 334px;
    height: 334px;
  }

  .catalog-item__picture {
    width: 334px;
    height: 334px;
  }

  .catalog-item__description {
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
  }

  .catalog-item__title {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .catalog-item__text {
    font-size: 15px;
  }

  .catalog-item__description-footer {
    margin-left: 5px;
    margin-right: 5px;
  }

  .catalog-item__price {
    font-size: 17px;
  }
}


@media #{$desktop} {
  .catalog-item {
    flex-direction: column;

    width: 316px;
    margin-top: 0;
    margin-right: 51px;
    &:last-child {
      margin-right: 0;
    }
  }

  .catalog-item__link {
    width: 316px;
    height: 462px;
  }

  .catalog-item__picture {
    width: 316px;
    height: 462px;
  }

  .catalog-item__text {
    margin: 0;
  }

  .catalog-item__description-header {
    margin-bottom: 12px;
  }

  .catalog-item__description {
    padding-top: 27px;
    height: 100%;
  }

  .catalog-item__description-footer {
    margin-left: 0;
  }
}
