.catalog-item {
  margin: 30px;
  @include border;
  display: flex;
  flex-direction: column;
}

.catalog-item__description {

  box-sizing: border-box;
  width: 100%;
  padding: 30px;
}

.catalog-item__description-header {
  border-bottom: 1px solid $color-border;
}

.catalog-item__description-footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.catalog-item__title {
  display: block;
  @include title(17px, 24px);
  text-decoration: none;
  margin-bottom: 20px;
}

.catalog-item__text {
  @include text(13px, 30px);
}

.catalog-item__price {
  @include title(15px, 24px);
}

@media #{$tablet} {
  .catalog-item {
    flex-direction: row;
  }

}
