.intro {
  background-color: $color-bg;
  &--index {
    background: $color-bg url("../img/hero-mobile@1x.jpg") 50% 0 no-repeat;
    min-height: 282px;
  }
}

.intro__title {
  @include title;
  margin: 0 auto;
  //width: 260px;
  padding: 72px 30px;
  text-align: center;
}

@media #{$tablet} {
  .intro {
    margin-top: 87px;
    border-top: 1px solid $color-border;
    &--index {
      min-height: 627px;
      background-size: 100% 100%;
    }
  }

  .intro__title {
    @include title-tablet;
    padding-top: 160px;
  }
}
