.intro {
  background-color: $color-bg;

  &--index {
    background: #f9f9f9 url("../img/hero-mobile@1x.jpg") 50% -20px no-repeat;
    min-height: 282px;
  }
}


.intro__delivery {
  display: none;
}

.intro__title {
  @include title;
  max-width: 260px;
  margin: 0 auto;
  padding: 70px 0 77px;
  text-align: center;
}

@media #{$tablet} {
  .intro {
    @include border(top);
    margin-top: -62px;
    &--index {
      min-height: 745px;
      background-position-y: 0;
      background-size: 115% 100%;
    }
  }

  .intro__delivery {
    @include text;
    display: block;
    max-width: 668px;
    margin: 0 auto;
    padding: 19px 0;
    text-align: right;
  }

  .intro__title {
    @include title-tablet;
    max-width: 668px;
    padding: 33px 75px 80px 82px;
  }

  .intro--index .intro__title {
    padding: 92px 75px 100px;
  }
}

@media #{$desktop} {
  .intro__title {
    @include title-desktop;
    max-width: 1050px;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 100px;
  }

  .intro__delivery {
    max-width: 1050px;
  }
}
