.main-menu {
  margin: 0;
}

.main-menu__btn {
  position: absolute;
  width: 21px;
  height: 21px;
  cursor: pointer;
  &--closed {
    top: 33px;
    right: 31px;
    &::before {
      @include bg-image(icon-menu-open, 21px, 21px);
    }
  }
  &--opened {
    top: 30px;
    right: 30px;
    &::before {
      @include bg-image(icon-menu-close, 21px, 21px);
    }
  }
}

@media #{$mobile-only} {
  .main-menu__list--closed {
    .main-menu__item {
      display: none;
    }

    .main-menu__item--logo {
      display: block;
    }
  }

  .main-menu__list--opened {
    .main-menu__item {
      display: block;
    }
  }
}

.main-menu__list {
  @include ul-reset;
  display: flex;
  flex-direction: column;

  .main-menu__item--promo {
    display: none;
  }
}

.main-menu__item {
  padding: 28px 0 28px 75px;
  @include border(bottom);

  &--logo {
    height: 35px;
    padding: 21.5px 0;
    @include border(top);
    text-align: center;
  }

  &--search {
    &::before {
      @include bg-image(icon-search, 18px, 18px);
      left: 32px;
    }
  }

  &--cart {
    &::before {
      @include bg-image(icon-cart, 19px, 21px);
      left: 30px;
    }
  }

  &--search,
  &--cart {
    position: relative;
    &::before {
      top: 30px;
    }
  }
}

.main-menu__logo {
  vertical-align: top;

}

.main-menu__link {
  display: block;
  text-decoration: none;
  @include title(17px, 24px);
}



@media #{$tablet} {
  .main-menu {
    width: 100%;
  }

  .main-menu__btn {
    display: none;
  }

  .main-menu__list {
    width: 668px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .main-menu__item {
    border: none;

    &--logo {
      order: 0;
      width: 320px;
      height: 35px;
      text-align: left;
      padding: 0;
    }

    &--catalog,
    &--form {
      padding: 19px 0;
      margin-right: 35px;
      order: 2;

      .main-menu__link {
        font-size: 15px;
      }
    }

    &--search {
      order: 1;
      padding: 0;
      align-self: stretch;
      width: 82px;
      @include border(left);
      @include border(right);

      &::before {
        left: 33px;
        top: 36px;
      }

      .main-menu__link {
        font-size: 0;
      }
    }

    &--cart {
      padding: 32px 0 32px 80px;
      order: 1;
      width: 184px;

      text-align: right;

      &::before {
        left: 31px;
        top: 35px;
      }
    }
  }
}


@media #{$desktop} {
  .main-menu__list {
    width: 1050px;

    .main-menu__item--promo {
      display: block;
    }
  }

  .main-menu__item {
    &--logo {
      width: 149px;
      text-align: center;
      margin-right: auto;
      order: 1;
    }
    &--catalog,
    &--form {
      order: 0;
      padding: 28px 0;
      .main-menu__link {
        @include title(17px, 24px);
      }
    }

    &--catalog {
      width: 185px;
      @include border(right);
    }
    &--form {
      width: 235px;
      margin-right: 0;
    }
    &--promo {
      order: 2;
      width: 185px;
      padding: 19px 0;
      margin-right: 35px;
      .main-menu__link {
        @include title(15px, 24px);
      }
    }
  }
}
