.page-footer {
  background-color: $color-bg;
}

.page-footer__wrapper {
  @include centrify-all;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  min-height: 80px;
}

@media #{$tablet} {
  .page-footer__wrapper {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    min-height: 143px;
  }

  .page-footer__logo {
    width: 223px;
    display: block;
    img {
      width: 102px;
      height: 34px;
    }
  }

  .page-footer__social {
    width: 222px;
  }

  .page-footer__copyright {
    width: 223px;
  }

}

