.page-cart {
  margin: 30px auto;
  width: 320px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  &--hidden {
    display: block;
  }
}

.page-cart__inner {
  width: 260px;
  margin: 30px auto;
}

.page-cart__title {
  display: block;
  @include title(25px);
  margin: 35px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.page-cart__subtitle {
  @include text(15px, 30px);
  text-align: center;
  margin: 0;
}

.page-cart__form {
  margin-top: 30px;
}

.page-cart__form-inner {
  margin-bottom: 30px;
}

.page-cart__input-radio {
  display: none;
  &:checked + label {
    border-color: $color-secondary;
  }
}

.page-cart__form-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-cart__radio {

  box-sizing: border-box;
  padding: 18px;
  width: 82px;
  text-align: center;
  @include border(full, 2px);
  @include title(17px, 16px);
  cursor: pointer;
}

.page-cart__btn {
  @include btn;
  @include subheader;
  width: 100%;
  color: $color-contrast;
  background-color: $color-secondary;
  border: none;
}

@media #{$tablet} {
  .page-cart {
    width: 570px;
  }

  .page-cart__inner {
    width: 350px;
  }

  .page-cart__radio {
    width: 112px;
  }
}
