.order-form {
  @include margins;
  margin-top: 30px;
  margin-bottom: 30px;
  input {
    outline: none;
    background-color: transparent;
    &::-webkit-input-placeholder {
      @include text(17px, 18px);
      //check ff
      opacity: 0.3;
    }
  }
  textarea {
    background-color: transparent;
  }
}

.order-form__section {
  border: none;
  margin: 0;
  padding: 0;
}

.order-form__inner {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.order-form__promo-text {
  @include text(13px, 24px);
}

.order-form__title {
  margin: 0;
  @include subheader;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    flex-grow: 1;
    width: 100px;
    height: 1px;
    background: $color-secondary;
    margin-left: 25px;
  }
}

.order-form__group {
  @include title(17px, 18px);
}

.order-form__checkbox,
.order-form__radio {
  display: block;
  min-height: 60px;
  padding-left: 60px;
}

.order-form__input-radio,
.order-form__input-checkbox {
  display: none;
}

.order-form__text {
  display: block;
}

.order-form__input-text {
  display: block;
  width: 100%;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid $color-title;
}

.order-form__input-tel,
.order-form__input-email {
  display: block;
  width: 100%;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid $color-title;
}

.order-form__footer {
  @include text(14px, 16px);
}


.order-form__textarea {
  border: 2px solid $color-title;
  outline: none;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  &::-webkit-input-placeholder {
    @include text(17px, 18px);
    opacity: 0.3;
  }
}

@media #{$tablet} {
  .order-form__promo-text {
    @include text(17px, 30px);
  }

  .order-form {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .order-form__section:nth-child(2n-1) {
    background-color: $color-bg;
  }

  .order-form__inner {
    flex-direction: row;
    align-items: flex-start;
  }

  .order-form__title {

    flex-basis: 25%;
    &::after {
      display: none;
    }
  }

  .order-form__group {
    flex-grow: 1;
  }

  .order-form__text,
  .order-form__input-text {
    display: inline;
    width: auto;
  }

}
